body{
    background-color: #ADD8E6;
    color: #221811;
    background-image: url("asset/background.gif");
    font-family: 'Times New Roman', Times, serif;

}

header{
    background-color: #6495ED;
    height: 160px;
    background-image: url("asset/selogo.jpg");
}